
body {
    margin: 0px;
   /* background-color:  #21C08B;*/
    font-family: 'Muli', sans-serif;
    background-color: #8F57FD;
}
.header {
    background-color: #8F57FD;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-left: 30px;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;

}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
    display: block;/* */
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu--profile{
    display: flex;
    margin-right: 8px;
    cursor: pointer;
    align-items: center;
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p{
    margin: 0px;
    color: white;
}
.main{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}
.main__titulo {
    color: white;
    font-size: 25px;
}
.categories__tittle{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}
.input1{
    height: 50px;
    width: 70%;
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.5); /*el alpha es para la opacidad*/
}
::placeholder{
    color: white;
}
.carrusel{
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
}
.carrusel__container{
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carrusel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}
.carrusel-item:hover ~ .carrusel-item{
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
}
.carrusel__container:hover .carrusel-item{
    opacity: 0.3;
}
.carrusel__container:hover .carrusel-item:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
}
.carrusel-item__img{
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
        object-fit: cover;
}
.carrusel-item__details{
    background: linear-gradient(to top, rgba(0 0 0 0.9)0%, rgba(0 0 0 0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.carrusel-item__details--img {
    width: 20px;
}
.carrusel-item:hover .carusel-item__details {
    opacity: 1;
}
.carrusel-item__details--botones img{
    width: 30px;
    height: 30px;
}
.carrusel-item__details--Titulo {
    color: white;
    margin: 5px 0px 0px 0px;
}
.carrusel-item__details--subtitulo {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}
.login{
    background: linear-gradient(#21C08B, #8F57FD);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    background-color: rgba(255 , 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color:white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form{
    display: flex;
    flex-direction: column;
}
.login__container--form label{
    font-size: 14px;
}
.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a{
   color: white;
   font-size: 14px;
   text-decoration: none;
}
.login__container--remember-me a:hover{
    text-decoration: underline;
 }
 .login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
 }
 .login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
 }
 .login__container--register{
    font-size: 14px;
 }
.login__container--register a{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.login__container--register a:hover{
    text-decoration: underline;
}
.input{
    height: 50px;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
}
::placeholder{
    color: white;
}
.button{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.login__container--inicio{
    color: white;
    margin-top: 10px;
}
.login__container--inicio a{
   color: white;
   font-size: 16px;
   text-decoration: none;
}
.login__container--inicio a:hover{
    text-decoration: underline;
 }
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #8F57FD;
}
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #8F57FD;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}